USE [Dashboard_project]
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupDatabase]    Script Date: 4/3/2026 11:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_BackupDatabase]
    @DatabaseName NVARCHAR(128),
    @BackupType NVARCHAR(10), -- 'FULL', 'DIFF', atau 'LOG'
    @CustomDate NVARCHAR(20) = NULL, -- Format: 'DD_MM_YYYY' atau biarkan NULL untuk tanggal sekarang
    @BackupPath NVARCHAR(255) = N'D:\Backup\FullDiff\' -- Path default
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @FileName NVARCHAR(500)
    DECLARE @BackupName NVARCHAR(256)
    DECLARE @DateString NVARCHAR(20)
    DECLARE @FullCommand NVARCHAR(1000)
    DECLARE @BackupTypeName NVARCHAR(20)
    
    -- Menentukan format tanggal
    IF @CustomDate IS NULL
    BEGIN
        -- Format tanggal sekarang: DD_MM_YYYY
        SET @DateString = CONVERT(NVARCHAR(20), GETDATE(), 105) -- 105 = dd-mm-yyyy
        SET @DateString = REPLACE(@DateString, '-', '_')
    END
    ELSE
    BEGIN
        SET @DateString = @CustomDate
    END
    
    -- Validasi tipe backup (DITAMBAH LOG)
    IF UPPER(@BackupType) = 'FULL'
    BEGIN
        SET @BackupTypeName = 'Full'
    END
    ELSE IF UPPER(@BackupType) = 'DIFF'
    BEGIN
        SET @BackupTypeName = 'DIFF'
    END
    ELSE IF UPPER(@BackupType) = 'LOG'
    BEGIN
        SET @BackupTypeName = 'Log'
    END
    ELSE
    BEGIN
        RAISERROR('Tipe backup tidak valid. Gunakan ''FULL'', ''DIFF'', atau ''LOG''.', 16, 1)
        RETURN
    END
    
    -- Membuat nama file
    SET @FileName = @BackupPath + @BackupTypeName + '_' + @DatabaseName + '_' + @DateString + '.BAK'
    SET @BackupName = @DatabaseName + '-' + @BackupTypeName + ' Database Backup'
    
    -- Membuat command backup (DITAMBAH LOG)
    IF UPPER(@BackupType) = 'FULL'
    BEGIN
        SET @FullCommand = '
        BACKUP DATABASE [' + @DatabaseName + '] TO 
        DISK = N''' + @FileName + ''' 
        WITH NOFORMAT, INIT,  
        NAME = N''' + @BackupName + ''', 
        SKIP, NOREWIND, NOUNLOAD, STATS = 10'
    END
    ELSE IF UPPER(@BackupType) = 'DIFF'
    BEGIN
        SET @FullCommand = '
        BACKUP DATABASE [' + @DatabaseName + '] TO 
        DISK = N''' + @FileName + ''' 
        WITH DIFFERENTIAL, NOFORMAT, INIT,  
        NAME = N''' + @BackupName + ''', 
        SKIP, NOREWIND, NOUNLOAD, STATS = 10'
    END
    ELSE IF UPPER(@BackupType) = 'LOG'
    BEGIN
        SET @FullCommand = '
        BACKUP LOG [' + @DatabaseName + '] TO 
        DISK = N''' + @FileName + ''' 
        WITH NOFORMAT, INIT,  
        NAME = N''' + @BackupName + ''', 
        SKIP, NOREWIND, NOUNLOAD, STATS = 10'
    END
    
    -- Eksekusi backup
    BEGIN TRY
        PRINT 'Memulai backup ' + @BackupTypeName + ' untuk database ' + @DatabaseName
        PRINT 'File tujuan: ' + @FileName
        EXEC sp_executesql @FullCommand
        PRINT 'Backup selesai dengan sukses'
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT
        
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
