USE [Dashboard_project]
GO
/****** Object:  StoredProcedure [dbo].[sp_fast_restore_DB_LogisticsInventory]    Script Date: 4/3/2026 11:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_fast_restore_DB_LogisticsInventory]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @backupPath NVARCHAR(500) = 
        'D:\Dashboard_project\DATA BACKUP\DB_LogisticsInventory\FULL_DB_LogisticsInventory.Bak';

    -- Kill semua session yang sedang menggunakan database
    DECLARE @kill VARCHAR(MAX) = '';
    SELECT @kill = @kill + 'KILL ' + CONVERT(VARCHAR(5), session_id) + ';'
    FROM sys.dm_exec_sessions
    WHERE database_id = DB_ID('DB_LogisticsInventory');

    IF @kill != '' EXEC(@kill);

    -- Set database ke SINGLE_USER
    ALTER DATABASE [DB_LogisticsInventory] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;

    -- Restore full database
    RESTORE DATABASE [DB_LogisticsInventory]
    FROM DISK = @backupPath
    WITH FILE = 1,
         NOUNLOAD,
         REPLACE,
         STATS = 5;

    -- Set database ke MULTI_USER
    ALTER DATABASE [DB_LogisticsInventory] SET MULTI_USER;
END;
