USE [Dashboard_project]
GO
/****** Object:  StoredProcedure [dbo].[sp_fast_restore_DB_DistributionInventory]    Script Date: 4/3/2026 11:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_fast_restore_DB_DistributionInventory]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @backupPath NVARCHAR(500) = 
        'D:\Dashboard_project\DATA BACKUP\DB_DistributionInventory\Full_DB_DistributionInventory.Bak';

    -- Set single user & kill session
    DECLARE @kill VARCHAR(MAX) = '';
    SELECT @kill = @kill + 'KILL ' + CONVERT(VARCHAR(5), session_id) + ';'
    FROM sys.dm_exec_sessions
    WHERE database_id = DB_ID('DB_DistributionInventory');

    IF @kill != '' EXEC(@kill);

    ALTER DATABASE [DB_DistributionInventory] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;

    RESTORE DATABASE [DB_DistributionInventory]
    FROM DISK = @backupPath
    WITH REPLACE,
         STATS = 5,
         BUFFERCOUNT = 100,
         MAXTRANSFERSIZE = 4194304;

    ALTER DATABASE [DB_DistributionInventory] SET MULTI_USER;
END;
