USE [Dashboard_project]
GO
/****** Object:  StoredProcedure [dbo].[usp_RestoreDatabase]    Script Date: 4/3/2026 11:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[usp_RestoreDatabase]
    @DbName NVARCHAR(200),
    @BackupFile NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);

    BEGIN TRY
        PRINT '============================================================';
        PRINT '>> PROSES RESTORE DIMULAI';
        PRINT '>> Database     : ' + @DbName;
        PRINT '>> Backup File  : ' + @BackupFile;
        PRINT '============================================================';

        PRINT '>> Mengubah database ke SINGLE_USER...';
        SET @SQL = '
            ALTER DATABASE [' + @DbName + '] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
        ';
        EXEC (@SQL);

        PRINT '>> Melakukan RESTORE database...';
        SET @SQL = '
            RESTORE DATABASE [' + @DbName + '] 
            FROM DISK = N''' + @BackupFile + '''
            WITH REPLACE, STATS = 5;
        ';
        EXEC (@SQL);

        PRINT '>> Mengubah database ke MULTI_USER...';
        SET @SQL = '
            ALTER DATABASE [' + @DbName + '] SET MULTI_USER;
        ';
        EXEC (@SQL);

        PRINT '============================================================';
        PRINT '>> RESTORE SELESAI TANPA ERROR';
        PRINT '============================================================';
    END TRY
    BEGIN CATCH

        PRINT '============================================================';
        PRINT '>> ERROR TERJADI SAAT PROSES RESTORE!';
        PRINT ERROR_MESSAGE();

        PRINT '>> Mengembalikan database ke MULTI_USER...';

        SET @SQL = '
            ALTER DATABASE [' + @DbName + '] SET MULTI_USER;
        ';
        EXEC (@SQL);

        PRINT '============================================================';
    END CATCH
END
