USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBackupHeader]    Script Date: 4/3/2026 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_GetBackupHeader]
    @BackupFilePath NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF @BackupFilePath IS NULL OR LEN(@BackupFilePath) = 0
    BEGIN
        RAISERROR('File backup tidak boleh kosong.', 16, 1);
        RETURN;
    END

    -- Ambil hasil RESTORE HEADERONLY ke tabel sementara otomatis
    DECLARE @sql NVARCHAR(MAX) = N'
        SELECT ServerName, DatabaseName, DatabaseCreationDate
        FROM OPENROWSET(
            ''SQLNCLI'',
            ''Server=.;Trusted_Connection=yes;'',
            ''RESTORE HEADERONLY FROM DISK = ''''' + @BackupFilePath + ''''''') AS hdr
    ';

    EXEC sp_executesql @sql;
END
