USE [Dashboard_project]
GO
/****** Object:  StoredProcedure [dbo].[usp_RestoreDatabaseFast]    Script Date: 4/3/2026 11:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_RestoreDatabaseFast]
    @DbName NVARCHAR(200),
    @BackupFile NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);

    BEGIN TRY
        
        PRINT '>> Setting database SINGLE_USER...';
        SET @SQL = '
            ALTER DATABASE [' + @DbName + '] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
        ';
        EXEC (@SQL);

        PRINT '>> Starting FAST RESTORE...';
        SET @SQL = '
            RESTORE DATABASE [' + @DbName + ']
            FROM DISK = N''' + @BackupFile + '''
            WITH 
                REPLACE,
                STATS = 5,
                CHECKSUM,
                BUFFERCOUNT = 512,
                MAXTRANSFERSIZE = 4194304 -- 4 MB
        ';
        EXEC (@SQL);

        PRINT '>> Setting database MULTI_USER...';
        SET @SQL = '
            ALTER DATABASE [' + @DbName + '] SET MULTI_USER;
        ';
        EXEC (@SQL);

        PRINT '>> RESTORE FINISHED SUCCESSFULLY (HIGH PERFORMANCE MODE).';

    END TRY
    BEGIN CATCH

        PRINT '>> RESTORE FAILED!';
        PRINT ERROR_MESSAGE();

        -- pastikan dikembalikan ke MULTI_USER meskipun error
        SET @SQL = '
            ALTER DATABASE [' + @DbName + '] SET MULTI_USER;
        ';
        EXEC (@SQL);
    END CATCH
END
