USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_Backup_FULL_DIFF2]    Script Date: 4/3/2026 11:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_Backup_FULL_DIFF2]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE 
        @strFile NVARCHAR(400),
        @strPath NVARCHAR(400),
        @strBackup VARCHAR(10),
        @strExtFile NVARCHAR(10),
        @strDatabase NVARCHAR(128),
        @strCMD1 NVARCHAR(MAX),
        @DateRemoved1 DATETIME,
        @Date DATETIME,
        @DateIN VARCHAR(40),
        @Diff NVARCHAR(50) = '',
        @StrBakFile NVARCHAR(30) = 'FULL_',
        @isFull VARCHAR(10),
        @RetentionDays INT = 8,
        @CleanupPath NVARCHAR(255) = 'D:\Backup\FullDiff\';

    SELECT @Date = GETDATE();

    --------------------------------------
    -- CLEANUP FILE BACKUP LAMA
    --------------------------------------
    SET @DateRemoved1 = DATEADD(DAY, -@RetentionDays, GETDATE());

    EXEC master.dbo.xp_delete_file 
        0, 
        @CleanupPath,
        'BAK', 
        @DateRemoved1;

    --------------------------------------
    -- TENTUKAN BACKUP FULL ATAU DIFF
    -- Sunday = 1
    --------------------------------------
    IF (DATEPART(WEEKDAY, GETDATE()) = 1)   -- FULL hari Minggu
        SELECT @isFull = 'FULL', @Diff = '', @StrBakFile = 'FULL_';
    ELSE                                     -- DIFF hari Senin–Sabtu
        SELECT @isFull = 'DIFF', @Diff = ' , DIFFERENTIAL', @StrBakFile = 'DIFF_';

    --------------------------------------
    -- CURSOR: LOOP SETIAP DATABASE
    --------------------------------------
    DECLARE Backup_Cursor CURSOR LOCAL FAST_FORWARD FOR
    SELECT strPath, strBackup, strDBName, strExtFile 
    FROM master.dbo.tr_ParBackupData
    WHERE strBackup = @isFull
    ORDER BY CASE WHEN strDBName = 'master' THEN 0 ELSE 1 END;

    OPEN Backup_Cursor;
    FETCH NEXT FROM Backup_Cursor INTO @strPath, @strBackup, @strDatabase, @strExtFile;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY

            --------------------------------------
            -- Generate nama file backup
            --------------------------------------
            SET @DateIN =
                REPLACE(CONVERT(VARCHAR(15), GETDATE(), 6), ' ', '_') + '_' +
                REPLACE(CONVERT(VARCHAR(15), GETDATE(), 108), ':', '_');

            SET @strFile = @strPath + @StrBakFile + @strDatabase + '_' + @DateIN + @strExtFile;

            --------------------------------------
            -- Command BACKUP
            --------------------------------------
            SET @strCMD1 =
                'BACKUP DATABASE [' + @strDatabase + '] ' +
                'TO DISK = ''' + @strFile + ''' ' +
                'WITH NOINIT, NOUNLOAD, ' +
                'NAME = ''' + @strDatabase + ' ' +
                CASE WHEN @isFull = 'FULL' THEN 'FULL' ELSE 'DIFFERENTIAL' END +
                ' backup'', NOSKIP, STATS = 10, NOFORMAT' + @Diff;

            EXEC (@strCMD1);

            --------------------------------------
            -- UPDATE SUCCESS STATUS
            --------------------------------------
            SET @strCMD1 =
                'UPDATE master..tr_ParBackupData SET ' +
                'strErrorMsg = ''Backup DB ' +
                CASE WHEN @isFull = 'FULL' THEN 'FULL' ELSE 'DIFF' END +
                ' completed successfully'', ' +
                'strLastUpdate = GETDATE() ' +
                'WHERE strDBName = ''' + @strDatabase + ''' ' +
                'AND strBackup = ''' + @strBackup + '''';

            EXEC (@strCMD1);

        END TRY

        BEGIN CATCH
            
            --------------------------------------
            -- UPDATE ERROR STATUS
            --------------------------------------
            SET @strCMD1 =
                'UPDATE master..tr_ParBackupData SET ' +
                'strErrorMsg = ''' + REPLACE(ERROR_MESSAGE(), '''', '''''') + ''', ' +
                'strLastUpdate = GETDATE() ' +
                'WHERE strDBName = ''' + @strDatabase + ''' ' +
                'AND strBackup = ''' + @strBackup + '''';

            EXEC (@strCMD1);

        END CATCH;

        FETCH NEXT FROM Backup_Cursor INTO @strPath, @strBackup, @strDatabase, @strExtFile;
    END;

    CLOSE Backup_Cursor;
    DEALLOCATE Backup_Cursor;
END
