USE [Dashboard_project]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBackupHeader]    Script Date: 4/3/2026 11:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_GetBackupHeader]
    @BackupFilePath NVARCHAR(500)  -- Parameter untuk lokasi file backup
AS
BEGIN
    SET NOCOUNT ON;

    -- Validasi apakah file path tidak kosong
    IF @BackupFilePath IS NULL OR LEN(@BackupFilePath) = 0
    BEGIN
        RAISERROR('File backup tidak boleh kosong.', 16, 1);
        RETURN;
    END

    -- Jalankan RESTORE HEADERONLY
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = N'RESTORE HEADERONLY FROM DISK = ''' + @BackupFilePath + '''';
    
    EXEC sp_executesql @sql;
END
