USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_DBGrowth_Log]    Script Date: 4/3/2026 11:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER procedure [dbo].[usp_DBGrowth_Log]
As

begin

	Declare @DBName sysname,@Sql_Statement varchar(1000)
	Declare DB_Cursor Cursor For
		select name from sys.databases where state=0 and (database_id>4 or name='tempdb')
	Open DB_Cursor
	Fetch Next From DB_Cursor Into @DBName
	Set @Sql_Statement=''
	While @@FETCH_STATUS=0
	Begin	
	Set @Sql_Statement=' use [' + @DBName +']'
					   + ' insert into Master.dbo.dbgrowth_log
						 select DB_NAME() DB,Case When [type]=0 then
							 ''Data''
							 When [type]=1 then
							 ''Log''
							 When [type]=2 then
							 ''Filestream''
							 When [type]=3 then 
							 ''Not Supported''
							 When [type]=4 then
							 ''Full text Catalog''
							 End [Type]
						,name,physical_name, (Cast(size as Decimal(15,3))/128) SizeMB,GETDATE() 
						 CapturedDate from sys.database_files
						'
	EXEC(@Sql_Statement)
	Fetch Next From DB_Cursor Into @DBName
	End		
	Close 	DB_Cursor
	Deallocate 	DB_Cursor

	Delete Master.dbo.dbgrowth_log
	Where datecap<=Dateadd(m,-3,getdate())

end


